@using SRMforCustomer.Models
@model Requests

@*@model SRMforCustomer.modelRequestss.RequestsmodelRequests*@


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var requestType = (SelectList)ViewBag.RequestTypeId;

}
<link href="~/Content/Requests.css" rel="stylesheet" />
<div class="head_title">
    Requsets
</div>

<div class="row input_content" style="padding-top:35px;">
    <form id="frmRequest">
        <div class="row">
            <div class="col-sm-6">
                <div class="valueinfo">ชื่อ-นามสกุล</div>
                @Html.TextBoxFor(f => f.CustomerName, new { @class = "form-control", placeholder = "ปณชัย นิยมกชกร", oninput = @"this.value = this.value.replace(/[0-9]/g, ''); this.value = this.value.replace(/^\s+/, '');" })
                @Html.ValidationMessageFor(m => m.CustomerName)

            </div>
            <div class="col-sm-6">
                <div class="valueinfo">ประเภทการร้องขอ</div>
                @Html.DropDownListFor(f => f.RequestTypeId, requestType, "กรุณาเลือกการร้องข้อมูล", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RequestTypeId)
            </div>
        </div>
        <div class="row input_padding">
            <div class="col-sm-6">
                <div class="valueinfo">เบอร์โทร</div>
                @Html.TextBoxFor(f => f.TelephoneNumber, new { @class = "form-control", placeholder = "0901234567", oninput = @"this.value = this.value.replace(/[^0-9]/g, '');", maxlength = "10", minlength = "9" })
                @Html.ValidationMessageFor(m => m.TelephoneNumber)
            </div>
            <div class="col-sm-6">
                <div class="valueinfo">อีเมล</div>
                @Html.TextBoxFor(f => f.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="row textbox_detail">
            <div class="valueinfo">รายละเอียด</div>
            @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", style = "width: 100%; height: 100px;", oninput = @"this.value = this.value.replace(/^\s+/, '');" })
            @Html.ValidationMessageFor(m => m.Remark)
        </div>
    </form>
    @*<div class="g-recaptcha" data-sitekey="6LcylSkUAAAAAJnF0kFLk59k2EBOxYGuMlmS9-Nk"></div>*@

    <div style="padding-top:20px;margin: 0 15px;">
        <button class="button" id="sendEmail"> ส่งข้อมูล </button>
    </div>
</div>


@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.css" />
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    @{
        string ticketId = "";
    }
    <script>
        $("#sendEmail").click(function () {
            swal({
                title: 'Send',
                text: "Are you sure to send",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, send',
                cancelButtonText: 'Wait',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false
            }).then(function () {
                setfeedback();

                //swal(
                //    'Deleted!',
                //    'Your file has been deleted.',
                //    'success'
                //)

            }, function (dismiss) {
                // dismiss can be 'cancel', 'overlay',
                // 'close', and 'timer'
                if (dismiss === 'cancel') {
                    swal(
                        'Cancelled',
                        'Your imaginary file is safe :)',
                        'error'
                    )
                }
            })
        });

        function setfeedback() {
            console.log($('#frmRequest').valid());
            if ($('#frmRequest').valid()) {
                $('#sendEmail').button('loading');
                var model = $('#frmRequest').serialize();
                jQuery.ajax({
                    type: "POST",
                    url: "@Url.Action("RequestProcess", "Requests")",
                    processData: false,
                    dataType: false,
                    data: model,
                    success: function(response) {
                        if (response != null && response.success) {
                            var link = '@Html.ActionLink("Click", "Index", "TicketDetail", new { ticket = "ssss" }, null)';
                            link = link.replace("ssss", response.modelRequest.TicketId);

                            swal("Ticket ของท่านคือ " + response.modelRequest.TicketId,
                                //"สามารถตรวจสอบได้ที่ Email " + response.modelRequest.Email + "</br>" + "<a href='www.srmforcustomer.com\\search\\" + response.modelRequest.TicketId + "'>test</a>",
                                "สามารถตรวจสอบได้ที่ Email " + response.modelRequest.Email + "</br>" + link,
                                "success");
                        } else {
                            console.log(response.errors);
                            var errors = response.errors;
                            for (var i = 0; i < errors.length; i++) {
                                var error = errors[i];
                                $('#' + error.Key).addClass('has-error');
                            }
                            swal("ไม่สำเร็จ", response.messageAlert, "error");
                        }
                    },
                    error: function(errMsg) {
                        console.log(errMsg.responseText);
                        swal("ยกเลิก", "กรุณาระบุข้อมูลให้ถูกต้อง, ระบุข้อมูลให้ครบ", "error");
                    },
                    complete: function() {
                        $('#sendEmail').button('reset');
                        $('#TelephoneNumber').val('');
                        $('#CustomerName').val('');
                        $('#Email').val('');
                        $('#Remark').val('');
                        $('#RequestTypeId').val('');

                    }
                });
            }
        }
    </script>

}