@*using SRMforCustomer.Models*@

@using System.Web.UI.HtmlControls
@model SRMforCustomer.Models.Requests

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Ticket Detail Index</h2>

@if (@ViewBag.Message != null && Model == null) { //เดี๋ยวเอา Viewbag ออก
    string message = ViewBag.Message;
    <h3>@Html.ActionLink(message, "", "Search")</h3>

} else {
    <h3>TicketID : @Model.TicketId</h3>

    //เขียน layout ในนี้เลย

    <div class="head_title">
        Chat
    </div>
    <div style="padding:0 10%;">
        <table class="main_table" style="text-align:left">
            <tbody>
                <tr>
                    <td class="" width="50%">Status  : @Model.Statuses.StatusName</td>
                    <td style="text-align:right">@Model.DateCreate</td>
                </tr>
                <tr>
                    <td class="">Title Name : </td>
                    <td class="">ประเภทการร้องขอ : @Model.RequestType.Name</td>
                </tr>
                <tr>
                    <td class="">Tel : @Model.TelephoneNumber</td>
                    <td class="">Email : @Model.Email</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top:20px;">
            <table>
                <tbody>


                    <tr style="height:90px;">
                        <td width="50%">
                            <div style="text-align:left">@(DateTime.Now)</div>
                            <div class="chat">
                                ทดลองการพิมพ์ ของตัวเองดูวาจะออกมาเป้นอย่างวไร
                            </div>
                        </td>
                        <td></td>
                    </tr>


                    <tr style="height:90px;">
                        <td></td>
                        <td width="50%">
                            <div style="text-align:right">@(DateTime.Now)</div>
                            <div class="chat">
                                ทดลองการพิมพ์ ของตัวเองดูวาจะออกมาเป้นอย่างวไร
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        @using (Html.BeginForm("SendComment", "TicketDetail", new { ticket = Model.TicketId }, FormMethod.Post)) {
            <div style="padding-top:25px;">
                <table style="width:100%;">
                    <tbody>



                        <tr>
                            <td>
                                @*อาจจะต้องเขียน form ตรงนี้ครอบ Textarea และปุ่ม ส่ง เพื่อให้ส่งข้อมูลไปหลังบ้านได้ หรือ ใช้วิธียัดเข้า model แต่แค่ค่าๆเดียว อาจจะไม่สร้าง model by golf*@

                                @Html.TextArea("textComment", new { @class = "form-control", style = "height:100px;" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 20px;">
                                <button type="submit">Send</button>

                                @*<button class="button" style="width: 100%"> ส่ง </button>*@
                            </td>
                        </tr>





                    </tbody>
                </table>
            </div>
        }
    </div>
}