@*using SRMforCustomer.Models*@

@using System.Web.UI.HtmlControls
@using SRMforCustomer.Models
@model SRMforCustomer.Models.Requests
<style>
    div {
    border:solid;
    }
    </style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

@*<h2>Ticket Detail Index</h2>*@

@if (@ViewBag.Message != null && Model == null) { //เดี๋ยวเอา Viewbag ออก
    string message = ViewBag.Message;
    <h3>@Html.ActionLink(message, "", "Search")</h3>

} else {
    @*<h3>TicketID : @Model.TicketId</h3>*@


    <div class="head_title">
        Ticket Detail
    </div>
    <div style="padding:0 10%;">
        <table class="main_table" style="text-align:left">
            <tbody>
                <tr>
                    <td class=""></td>
                    <td style="text-align:right">@Model.DateCreate</td>
                </tr>
                <tr>
                    <td class="" width="50%">Status : @Model.Statuses.StatusName</td>
                    <td >TicketID : @Model.TicketId</td>
                </tr>
                <tr>
                    <td class="">Title Name : </td>
                    <td class="">ประเภทการร้องขอ : @Model.RequestType.Name</td>
                </tr>
                <tr>
                    <td class="">Tel : @Model.TelephoneNumber</td>
                    <td class="">Email : @Model.Email</td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="padding-top:20px;">
            @{
                List<Comments> listComment = ViewBag.listComment;
                //int i = 1;
                for (int i = 0; i < listComment.Count; i++) {

                    if (@listComment[i].StaffId != null) { //staff เช็ค seesion ด้วย
                        <div class="row">
                        <div class="col-xs6">

                            Test text  staff
                        </div>
                                <div class="col-xs6">
                                    <div style="text-align:right">@listComment[i].DateCreate</div>
                                    <div class="chat" style="word-break:break-word">
                                        @listComment[i].TextComment
                                    </div>
                                </div>
                            </div>
                    } else { //customer
                        <div class="row">
                            <div class="col-xs6">
                                <div style="text-align: left">@listComment[i].DateCreate</div>
                                <div class="chat" style="word-break:break-word">
                                    @listComment[i].TextComment
                                </div>
                            </div>
                            <div class="col-xs6">
                                Test text  customer
                            </div>
                        </div>
                    }
                }
            }


                            @*@{
                                    List<Comments> listComment = ViewBag.listComment;
                                    for (int i = 0; i < listComment.Count; i++) {
                                        if (@listComment[i].StaffId != null) {
                                            <div>
                                                <div class="col-xs6">
                                                    <div style="text-align:right">@listComment[i].DateCreate</div>
                                                    <div class="chat" style="word-wrap: break-word; display: inline-block;width:430px">
                                                        @listComment[i].TextComment
                                                    </div>
                                                </div>
                                                <div class="col-xs6">
                                                </div>
                                            </div>
                                        } else {
                                            <div>
                                                <div class="col-xs6">
                                                </div>
                                                <div class="col-xs6">
                                                    <div style="text-align: left">@listComment[i].DateCreate</div>
                                                    <div class="chat" style="word-wrap: break-word; display: inline-block;width:430px">
                                                        @listComment[i].TextComment
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }*@



                            @*@using (Html.BeginForm("SendComment", "TicketDetail", new { modelRequest = Model }, FormMethod.Post)) {*@
                            @using (Html.BeginForm("SendComment", "TicketDetail", new { ticket = Model.TicketId }, FormMethod.Post)) {
                                <div style="padding-top:25px;">
                                    <table style="width:100%;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @*@"this.value = this.value.replace(/[^0-9]/g, '');"*@
                                                    @Html.TextArea("textComment", new {
                                   @class = "form-control",
                                   style = "height:100px;",
                                   oninput = @"this.value = this.value.replace(/^\s+/, '');",
                                   maxlength = "4000",
                                   minlength = "3",
                                   required = "required"
                               })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top: 20px;">
                                                    <button class="btn-danger" type="submit" style="outline:none">Send</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
        </div>
                    }
                

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}