@*using SRMforCustomer.Models*@

@using System.Web.UI.HtmlControls
@using SRMforCustomer.Models
@model SRMforCustomer.Models.Requests

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string imgSrc = string.Empty;

    if (ViewBag.listImage != null) {
        List<Attachments> listimage = ViewBag.listImage;

        var base64 = Convert.ToBase64String(listimage[0].AttachmentFile);
        imgSrc = String.Format("data:{0};base64,{1}", listimage[0].AttachmentMimeType, base64);
    }
}
<link href="~/Content/scrollbar1.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@*<h2>Ticket Detail Index</h2>*@

@if (@ViewBag.Message != null && Model == null) { //เดี๋ยวเอา Viewbag ออก
    string message = ViewBag.Message;
    <h3>@Html.ActionLink(message, "", "Search")</h3>

} else {
    @*<h3>TicketID : @Model.TicketId</h3>*@


    <div class="head_title">
        Ticket Detail
    </div>
    <div style="padding:0 10%;">
        <table class="main_table" style="text-align:left">
            <tbody>
                <tr>
                    <td class=""></td>
                    <td style="text-align:right">@Model.DateCreate</td>
                </tr>
                <tr>
                    <td class="" width="50%">Status : @Model.Statuses.StatusName</td>
                    <td>TicketID : @Model.TicketId</td>
                </tr>
                <tr>
                    <td class="">Title Name : </td>
                    <td class="">ประเภทการร้องขอ : @Model.RequestType.Name</td>
                </tr>
                <tr>
                    <td class="">Tel : @Model.TelephoneNumber</td>
                    <td class="">Email : @Model.Email</td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="padding-top:20px;">
            <div id="style-1" style="overflow-x:auto;height:400px;">
                @{
                    List<Comments> listComment = ViewBag.listComment;
                    //int i = 1;
                    for (int i = 0; i < listComment.Count; i++) {
                        <div class="row">
                            @if (@listComment[i].StaffId != null) { //staff เช็ค seesion ด้วย
                                <div class="col-xs-4" style=""></div>
                                <div class="col-xs-8" style="">
                                    <div style="text-align:right">@listComment[i].DateCreate</div>
                                    <div class="chat pull-right" style="word-break:break-word;">
                                        @listComment[i].TextComment
                                    </div>
                                </div>
                            } else { //customer
                                <div class="col-xs-8">
                                    <div style="text-align: left">@listComment[i].DateCreate</div>
                                    <div class="chat " style="word-break:break-word;">
                                        @listComment[i].TextComment
                                    </div>
                                </div>
                                <div class="col-xs-4" style=""></div>
                            }
                        </div>
                    }
                }
            </div>

            @using (Html.BeginForm("SendComment", "TicketDetail", new { ticket = Model.TicketId }, FormMethod.Post)) {
                <div style="padding-top:25px;">
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    @Html.TextArea("textComment", new {
                                   @class = "form-control",
                                   style = "height:100px;",
                                   oninput = @"this.value = this.value.replace(/^\s+/, '');",
                                   maxlength = "4000",
                                   minlength = "3",
                                   required = "required"
                               })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 20px;">
                                    <button class="btn-danger" type="submit" style="outline:none">Send</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            }
        </div>

        @if (!string.IsNullOrEmpty(imgSrc)) {

            @*<img src="@imgSrc" style="width: 150px; height: 150px;" />*@
            <div class="">
                <img src="@imgSrc" style="width : 150px; height:150; cursor: pointer;" class="img-thumbnail" data-toggle="modal" data-target="#myModal" />
            </div>


            <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="@imgSrc" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>


                    }

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript">
            function openImage(imageUrl) {
                window.open(theURL);
            }
        </script>*@




}