@*using SRMforCustomer.Models*@

@using System.Web.UI.HtmlControls
@using SRMforCustomer.Models
@model SRMforCustomer.Models.Requests

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<h2>Ticket Detail Index</h2>

@if (@ViewBag.Message != null && Model == null) { //เดี๋ยวเอา Viewbag ออก
    string message = ViewBag.Message;
    <h3>@Html.ActionLink(message, "", "Search")</h3>

} else {
    <h3>TicketID : @Model.TicketId</h3>

    //เขียน layout ในนี้เลย

    <div class="head_title">
        Chat
    </div>
    <div style="padding:0 10%;">
        <table class="main_table" style="text-align:left">
            <tbody>
                <tr>
                    <td class="" width="50%">Status  : @Model.Statuses.StatusName</td>
                    <td style="text-align:right">@Model.DateCreate</td>
                </tr>
                <tr>
                    <td class="">Title Name : </td>
                    <td class="">ประเภทการร้องขอ : @Model.RequestType.Name</td>
                </tr>
                <tr>
                    <td class="">Tel : @Model.TelephoneNumber</td>
                    <td class="">Email : @Model.Email</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-top:20px;">
            <table>
                <tbody>
                    @{
                        List<Comments> listComment = ViewBag.listComment;
                        //int i = 1;
                        for (int i = 0; i < listComment.Count; i++) {

                            if (@listComment[i].StaffId != null) {

                                <tr style="height:90px;">
                                    <td></td>
                                    <td width="50%">
                                        <div style="text-align:right">@listComment[i].DateCreate</div>
                                        <div class="chat">
                                            @listComment[i].TextComment
                                        </div>
                                    </td>
                                </tr>

                            } else {
                                <tr style="height: 90px;">
                                    <td width="50%">
                                        <div style="text-align: left">@listComment[i].DateCreate</div>
                                        <div class="chat">
                                            @listComment[i].TextComment
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
        </div>
        @*@using (Html.BeginForm("SendComment", "TicketDetail", new { modelRequest = Model }, FormMethod.Post)) {*@
        @using (Html.BeginForm("SendComment", "TicketDetail", new { ticket = Model.TicketId }, FormMethod.Post)) {
            <div style="padding-top:25px;">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                @*@"this.value = this.value.replace(/[^0-9]/g, '');"*@
                                @Html.TextArea("textComment", new {@class = "form-control",
                               style = "height:100px;", oninput = @"this.value = this.value.replace(/^\s+/, '');",
                               maxlength = "4000", minlength = "3", required = "required" })
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 20px;">
                                <button class="btn-danger" type="submit" style="outline:none">Send</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
                        }

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}