@using SRMforCustomer.Models

@*@model SRMforCustomer.Models.Requests*@

@*@foreach (RequestsModel p in Model) {*@

@if (Model != null) {
            <tr>
                <td>@Model.TicketId</td>
                <td>@Model.RequestTypeId</td>
                <td>@Model.StaffId</td>
                <td>@Model.TopicName</td>
                <td>@Model.CustomerName</td>
                <td>@Model.TelephoneNumber</td>
                <td>@Model.Email</td>
                <td>@Model.Remark</td>
                <td>@Model.DateCreate</td>
                <td>@Model.DateFinish</td>

            </tr>
        
}

    @*}*@