@{ 
    var active = new string[] {
        "","","","",""
    };
    if (Request.Url.AbsolutePath.Contains("Search")) {
        active[1] = "active";
    } else if (Request.Url.AbsolutePath.Contains("RequestsStaff")) {
        active[3] = "active";
    } else if (Request.Url.AbsolutePath.Contains("Requests")) {
        active[2] = "active";
    } else if (Request.Url.AbsolutePath.Contains("Chat")) {
        active[4] = "active";
    } else {
        active[0] = "active";
    }


}
<style>
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color:#47803C;
    color:white;
    }
    </style>
<link rel="shortcut icon" href="~/Content/img/favicon.ico" />
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            @Html.ActionLink("SRM for Customer", "Index", "Home", new { @class = "navbar-brand" })
            @* In ActionLink (not use) --> new { area = "" },*@ 

            @*<a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>*@
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="@active[0]">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="@active[1]">
                    @Html.ActionLink("Search", "Index", "Search")
                </li>
                <li class="@active[2]">
                    @Html.ActionLink("Requests", "Index", "Requests")
                </li>
                <li class="@active[3]">
                    @Html.ActionLink("Staff", "Index", "RequestsStaff")
                </li>
                <li class="@active[4]">
                    @Html.ActionLink("Chat", "Index", "Chat")
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>