@*@model List<SRMforCustomer.Models.RequestsModel>*@

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace
    };
}
<div class="jumbotron" style="margin-top:50px">
    <h2>@ViewBag.Title</h2>
</div>

@*@if (Model != null) {
        foreach (var req in Model) {
            <h2>@req.ReTopicName</h2>
        }
    } else if (Model?.Count == 0) {
        <h2>โปรตรวจสอบ Ticket ของท่าน</h2>
    }*@

@using (Ajax.BeginForm("ResultSearchPartial", options)) {
    <div class="row">
        <div>
            @Html.TextBox("keyword", null, new { id = "testId" }) @*เดี๋ยว ดักผ่าน id*@

            <button type="submit">Search</button>
        </div>
        
    </div>
}

@*@using (Html.BeginForm("Create", "Search")) {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
        </div>
    }*@

<div id="searchResult">
    @Html.Action("ResultSearchPartial", new { keyword = "" })
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}