@*@model List<SRMforCustomer.Models.RequestsModel>*@

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AjaxOptions options = new AjaxOptions {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace
    };
}
<div class="jumbotron" style="margin-top:50px">
    <h2>@ViewBag.Title</h2>
</div>

@*@if (Model != null) {
        foreach (var req in Model) {
            <h2>@req.ReTopicName</h2>
        }
    } else if (Model?.Count == 0) {
        <h2>โปรตรวจสอบ Ticket ของท่าน</h2>
    }*@

@using (Ajax.BeginForm("ResultSearchPartial", options)) {
    <div class="row">
        <div>
            <div id="hintSearch" name="hintSearch" style="color:#0000FF"></div>
            @Html.TextBox("keyword", "", new { onKeyUp = "validate()" }) @*เดี๋ยว ดักผ่าน id*@

            <button type="submit">Search</button>
        </div>

    </div>
}

@*<script>
    function validate() {
        console.log("test");
        if (/[0-9]{7,7}$/.test($("input[name=keyword]").val())) {
            //submit
            //console.log("Success");
            document.getElementById("hintSearch").innerHTML = "Pass";
        } else {
            //console.log("Failue");
            document.getElementById("hintSearch").innerHTML = "โปรดป้อนเฉพาะตัวเลขและ มีจำนวน 7หลัก";

        }
    }
</script>*@

@*@using (Html.BeginForm("Create", "Search")) {
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
        </div>
    }*@

<div id="searchResult">
    @Html.Action("ResultSearchPartial", new { keyword = "" })
</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}