@using SRMforCustomer.Models

@*@model SRMforCustomer.Models.Requests*@

@if (Model != null) {
    <div>
        ReTicketID : @Model.TicketId
    </div>
    <div>
        TypeRequestsID :  @Model.RequestTypeId
    </div>
    <div>
        StaffID : @Model.StaffId
    </div>
    <div>
        ReTopicName : @Model.TopicName
    </div>
    <div>
        ReCustomerName : @Model.CustomerName
    </div>
    <div>
        ReCustomerTel : @Model.TelephoneNumber
    </div>
    <div>
        ReEmail : @Model.Email
    </div>
    <div>
        ReDetail : @Model.Remark
    </div>
        <div>
            ReDateIn : @Model.DateCreate
        </div>
        <div>
            ReDateOut : @Model.DateFinish
        </div>
        <div>

            @Html.ActionLink(
        "View Detail",                                                  // linkText
        "Index",                                    // actionName
        "TicketDetail",                                                   // routeValues
        new { @ticket = @Model.TicketId}, null)

        </div>

} else {
    <h1>
        @ViewBag.ErrorChecksum
    </h1>
}