@using SRMforCustomer.Models

@model SRMforCustomer.Models.RequestsModel

@if (Model != null) {
    <div>
        ReTicketID : @Model.ReTicketID
    </div>
    <div>
        TypeRequestsID :  @Model.TypeRequestsID
    </div>
    <div>
        StaffID : @Model.StaffID
    </div>
    <div>
        ReTopicName : @Model.ReTopicName
    </div>
        <div>
            ReCustomerName : @Model.ReCustomerName
        </div>
        <div>
            ReCustomerTel : @Model.ReCustomerTel
        </div>
        <div>
            ReEmail : @Model.ReEmail
        </div>
        <div>
            ReDetail : @Model.ReDetail
        </div>
        <div>
            ReDateIn : @Model.ReDateIn
        </div>
        <div>
            ReDateOut : @Model.ReDateOut
        </div>
        <div>

            @*@Html.ActionLink("ResultSearchPartial", new { ticket = @Model.ReTicketID })*@
            @*@Html.ActionLink("link to detail", "Index", "TicketDetail")*@
            @*ticket = @Model.ReTicketID*@


            @Html.ActionLink(
            "link to detail",                                                  // linkText
            "Index",                                    // actionName
            "TicketDetail",                                                   // routeValues
            new {                                                     // htmlAttributes
                ticket = @Model.ReTicketID
            }
)

            @*@Html.ActionLink("Home", "Index", "Home")*@
        </div>

}

