@using SRMforCustomer.Models

@model SRMforCustomer.Models.RequestsModel

@if (Model != null) {
    <div>
        ReTicketID : @Model.ReTicketId
    </div>
    <div>
        TypeRequestsID :  @Model.TypeRequestsId
    </div>
    <div>
        StaffID : @Model.StaffId
    </div>
    <div>
        ReTopicName : @Model.ReTopicName
    </div>
    <div>
        ReCustomerName : @Model.ReCustomerName
    </div>
    <div>
        ReCustomerTel : @Model.ReCustomerTel
    </div>
    <div>
        ReEmail : @Model.ReEmail
    </div>
    <div>
        ReDetail : @Model.ReDetail
    </div>
        <div>
            ReDateIn : @Model.ReDateIn
        </div>
        <div>
            ReDateOut : @Model.ReDateOut
        </div>
        <div>

            @Html.ActionLink(
        "View Detail",                                                  // linkText
        "Index",                                    // actionName
        "TicketDetail",                                                   // routeValues
        new { @ticket = @Model.ReTicketId}, null)

        </div>

} else {
    <h1>
        @ViewBag.ErrorChecksum
    </h1>
}