@using SRMforCustomer.Models

@model SRMforCustomer.Models.Requests

@if (Model != null) {
    <div class="card">
        <div class="titile_card">
            TicketID : @Model.TicketId
        </div>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td class="tb_1">
                        RequestTypeId
                    </td>
                    <td>
                        : @Model.RequestType.Name
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        StaffId
                    </td>
                    <td>

                        :  @{
                            if (@Model.StaffId != null) {

                                @Model.StaffId
                            } else {
                                <z>ค้นหาด้วย Customer</z>
                            }

                        }
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        StatusName
                    </td>
                    <td>
                        : @Model.Statuses.StatusName
                    </td>
                </tr>

                <tr>
                    <td class="tb_1">
                        TopicName
                    </td>
                    <td>
                        : @Model.TopicName
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        CustomerName
                    </td>
                    <td>
                        : @Model.CustomerName
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        CustomerTel
                    </td>
                    <td>
                        : @Model.TelephoneNumber
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        Email
                    </td>
                    <td>
                        : @Model.Email
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        Detail (Remark)
                    </td>
                    <td>
                        : @Model.Remark
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        CurrentStaffId
                    </td>
                    <td>
                        : @Model.CurrentStaffId
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        DateCreate
                    </td>
                    <td>
                        : @Model.DateCreate
                    </td>
                </tr>
                <tr>
                    <td class="tb_1">
                        DateOut
                    </td>
                    <td>
                        : Null @*@Model.DateFinish*@
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>

        <div style="text-align:left">
            @*// linkText
                // actionName
                // routeValues*@
            @Html.ActionLink("View Detail", "Index", "TicketDetail", new { @ticket = @Model.TicketId }, null)

        </div>
    </div>
                            } else {
                                <div>

                                    @ViewBag.ErrorChecksum

                                </div>
                            }
